/* Home, Paintings, Artists, Add Paintings, Add Artists */
nav .nav li a {
    color: white;
	display: inline-block;
	padding: 10px;
	margin-right: 10px;
	text-align: left;
    }
	
/* Filters */
#nav-item {
	color: white;
	display: inline-block;
	padding: 10px;
	margin-left: 10px;
	text-align: left;
	}
	
	

p a {
    color: white;
    }

p a:hover{
    color: #0a58ca;
}

h5 {
    padding: 10px;
}

.collapse{
    padding: 15px;
}

#contact{
    color: #0a58ca;
}

button {
    color: #0a58ca;
}

#nav-filter-label{
    color:  white;
}

body {background-color: #87CEFA;}

.search-artist-page #portrait {
	display: block;
	margin: 0 auto;
}
