nav .nav li a {
    color: white;
    }

p a {
    color: white;
    }

p a:hover{
    color: #0a58ca;
}

h5 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.collapse{
    padding-top: 15px;
    padding-bottom: 15px;
}

#contact{
    color: #0a58ca;
}

button {
    color: #0a58ca;
    border: white;

}